.explore-box {
  display: flex;
  justify-content: space-between;
}

.exp-list {
  width: 625px;
  list-style: none;
}

.e-l-item {
  display: flex;
  flex-direction: column;
  padding: 15px 2px 20px 0;
  border-bottom: 1px solid #f0f0f0;
}

.ar-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 4px;
  cursor: pointer;
}

.ar-summary {
  margin: 0 0 8px;
  font-size: 13px;
  line-height: 24px;
  color: #999;
}

.ar-title:visited {
  color: #000;
}

.meta {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.meta a {
  color: #b4b4b4;
}

.exp-right {
  width: 280px;
}

.board-banner {
  width: 100%;
  min-height: 50px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.author-list {
  width: 100%;
  list-style: none;
  margin-top: 15px;
}

.author-rec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rec-h {
  font-size: 14px;
  color: #969696;
}

.al-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.al-left {
  display: flex;
}

.al-avatar {
  width: 47px;
  border-radius: 999px;
  cursor: pointer;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

.ai-name {
  font-size: 14px;
  cursor: pointer;
}

.ai-desc {
  font-size: 12px;
  color: #969696;
}

.sub-button {
  background-color: transparent;
  border: none;
}

.meta a {
  cursor: pointer;
}
